<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css Folder/top_menu.css">
  </head>
  <body>
    <div class="topMenu">
      <div class="topMenu_left">
        <div class="topMenu_button menu_selected">
          Budget
        </div>
        <div class="topMenu_button">
          Campaign
        </div>
        <div class="topMenu_button">
          Ad set
        </div>
        <div class="topMenu_button">
          Ad
        </div>
      </div>
      <div class="topMenu_right">
        <div class="topMenu_button" id="saveData">
          Save
        </div>
        <div class="topMenu_button">
          Continue
        </div>
      </div>
    </div>
  </body>
</html>
