<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css Folder/header.css">
  </head>
  <body>
    <div class="siteHeader">
      <div class="left_header">
        <img src="../../img/default_icon/human.svg" class="header_icon" id="left_logo" alt="">
        <span class="header_title">company name</span>
      </div>
      <div class="right_header">
        <img src="../../img/default_icon/bell.svg" class="header_icon" id="alert" alt="">
        <img src="../../img/default_icon/human.svg" class="header_icon" id="right_logo"alt="">
      </div>
    </div>
  </body>
</html>
