<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css Folder/report_aside.css">
  </head>
  <body>
    <div class="aside_menu">
      <div class="aside_button" id="Overview">
        Overview
      </div>
      <div class="aside_button" id="Event">
        Event
      </div>
      <div class="aside_button" id="Audience">
        Audience
      </div>
      <div class="aside_button" id="Campaign">
        Campaign
      </div>
      <div class="aside_button" id="Intergration">
        Intergration
      </div>
      <div class="aside_button" id="BVI_tracking">
        BVI tracking
      </div>
    </div>
  </body>
</html>
