*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body{
  background: #f7f7fd;
}
.zone{
  min-height: 768px;
  height: 100%;
  width: 100%;
  min-width: 1920px;
}
.diagram{
  min-width: 100px;
  position: absolute;
}
.title{
  background: #face65;
  height: 30px;
  overflow: hidden;
}
.gray{
  color:#fafafa;
  background-color: #9b9b9b;
}

.flowchart-links-layer{
  width: 100%;
  height: 100%;
  min-height: 768px;
}
.flowchart-operator-outputs{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #4CBA38;
  color: #4CBA38;
  z-index: -1;
  float: right;
  position: absolute;
  left:calc(100% - 11px);
  top:19px;
  display: inline-block;
  line-height: 11px;
  opacity: 0;
}
.flowchart-operator-inputs{
  width: 5px;
  float: left;
  position: absolute;
  display: inline-block;
  top:0px;
  height: 5px;
  opacity: 0;
}
.circle{
  margin: 9px;
  float: left;
  background: #4cba38;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 6px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
.uncheck{
  color: #fafafa;
  background:#fafafa;
}
.title_name{
  color: #FFFFFF;
  margin: 9px;
  font-size: 10px;
  line-height: 12px;
}
.content{
  padding: 6px;
  background: #FFFFFF;
  min-height: 40px;
  font-size: 6px;
  line-height: 8px;
}
.Postive_effert{
  position: absolute;
  width:100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  background: #4cba38;
  color: #dadada;
}
.Negative_effert{
  position: absolute;
  width:100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  background: #FF0000;
  color: #dadada;
}
.flowchart-operator-connector-small-arrow{
  height: 0;
  top: 30px;
}
