*{
  margin: 0 auto;
  padding: 0;
  border: 0px;
  float: left;
  vertical-align: middle;

}
html,body{
  background: #f7f7fd;
  height: 100%;
  min-height: 100%;
}
.loading{
  position: absolute;
  top:50%;
  left:50%;
  font-family: multicolore;

}
.circle{
  top:50%;
  left:50%;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin1 5.5s linear infinite;
          animation: spin1 5.5s linear infinite;
}
@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
