*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.aside_menu{
  width: 72px;
  height: 100%;
  min-height: 768px;
  background: #213990;
}
.aside_button{
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #213990;
  background: #FFFFFF;
  border-radius: 23px;
  padding: 5px;
  padding-top: 29px;
  padding-bottom: 27px;
  margin: 10px;
}
